body {
    font-size: 2rem;
    background: #4c4a4a;
    font-family: 'Indie Flower', cursive;
}


.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.container h2 {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 3rem;
}

.container div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 0.7em;
    margin: 0.5em;
    box-shadow: 5px 5px 8px #545353;
    text-align: center; 
    
}

.container div:hover {
    
    transform: scale(0deg);
    box-shadow: 3px 3px 3px #000000;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0.5s;
    z-index: 3;
    cursor: pointer;
    
}

.container div:nth-child(2n+1) {
    background-color: #f7f76a;
    transform: rotate(-5deg);
}

.container div:nth-child(2n+2) {
    background-color: #9cf1fb;
    transform: rotate(-5deg);
    
}

.container div:nth-child(3n) {
    background-color: #de91ef;
    transform: rotate(10deg);
    
}





